<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Aplicativo de Turismo</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/city/Lisboa">Cidades</a></li>
            <li><a href="/city/Lisboa">Pontos turistícos</a></li>
            <li><a href="/city/Lisboa">Roteiros</a></li>
            <!-- Adicione mais cidades aqui -->
        </ul>
    </nav>
</header>
<main>  
<h1>Aplicativo de Turismo</h1>
    <p>Selecione uma cidade:</p>
<div class="city-buttons">
    <a class="city-button" href="/city/Lisboa">Lisboa</a>
    <a class="city-button" href="/city/Braga">Braga</a>
    <a class="city-button" href="/city/Porto">Porto</a>
    <a class="city-button" href="/city/Coimbra">Coimbra</a>
    <a class="city-button" href="/city/Évora">Évora</a>
    <a class="city-button" href="/city/Faro">Faro</a>
    <a class="city-button" href="/city/Funchal">Funchal</a>
    <a class="city-button" href="/city/Ponta Delgada">Ponta Delgada</a>
    <a class="city-button" href="/city/Angra do Heroísmo">Angra do Heroísmo</a>
    <a class="city-button" href="/city/Horta">Horta</a>
    <a class="city-button" href="/city/Vila Real">Vila Real</a>
    <a class="city-button" href="/city/Viseu">Viseu</a>
    <a class="city-button" href="/city/Guarda">Guarda</a>
    <a class="city-button" href="/city/Castelo Branco">Castelo Branco</a>
    <a class="city-button" href="/city/Santarém">Santarém</a>
    <a class="city-button" href="/city/Portalegre">Portalegre</a>
    <a class="city-button" href="/city/Beja">Beja</a>
    <a class="city-button" href="/city/New York">New York</a>
    <a class="city-button" href="/city/London">London</a>
    <a class="city-button" href="/city/Paris">Paris</a>
    <a class="city-button" href="/city/Tokyo">Tokyo</a>
    <a class="city-button" href="/city/Sydney">Sydney</a>
    <a class="city-button" href="/city/Dubai">Dubai</a>
    <a class="city-button" href="/city/Rio de Janeiro">Rio de Janeiro</a>
    <a class="city-button" href="/city/Cairo">Cairo</a>
    <a class="city-button" href="/city/Moscow">Moscow</a>
    <a class="city-button" href="/city/Cape Town">Cape Town</a>
    <a class="city-button" href="/city/Bangkok">Bangkok</a>
    <a class="city-button" href="/city/Seoul">Seoul</a>
</div>
        <!-- Adicione mais cidades aqui -->
    </main>  
</body>
</html>



